{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "simple-import-sort"
    ],
    "env": {
        "es6": true,
        "browser": false
    },
    "globals": {
        "self": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".json",
                    ".ts"
                ]
            }
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-console": 0,
        "max-len": [
            "error",
            {
                "code": 140,
                "ignoreUrls": true
            }
        ],
        "prefer-template": "off",
        "arrow-body-style": "off",
        "padded-blocks": "off",
        "class-methods-use-this": "off",
        "no-else-return": "off",
        "lines-between-class-members": "off",
        "no-param-reassign": "off",
        "no-return-assign": "off",
        "no-plusplus": "off",
        "prefer-destructuring": "off",
        "sort-imports": "off", // Disable builtin sort import
        "simple-import-sort/imports": "warn",
        "no-restricted-globals": "off", // Old code uses that and I don't feel good refactoring it
        "@typescript-eslint/explicit-function-return-type": [
            "warn",
            {
                "allowExpressions": true
            }
        ],
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-member-accessibility": "error",
        "@typescript-eslint/no-inferrable-types": [
            "error",
            {
                "ignoreParameters": true,
                "ignoreProperties": true
            }
        ],
        "@typescript-eslint/no-explicit-any": [
            "warn",
            {
                "fixToUnknown": true
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_"
            }
        ],
        "prettier/prettier": "warn"
    },
    "overrides": [
        {
            "files": [
                "**/*.test.ts"
            ],
            "globals": {
                "window": true
            },
            "rules": {
                "import/first": 0,
                "@typescript-eslint/no-explicit-any": "off",
                "@typescript-eslint/no-unused-vars": "off"
            }
        }
    ]
}